.corecover{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: calc(3 * 2.9em);
    padding-bottom: calc(3.33 * 2.9em);
    position: relative;
    color:#fff;
    background-attachment: fixed;
}
.corecover .mask{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .5;
    z-index: 1;
    width:100%;
    height:100%;
}
.corecover > *{
    position: relative;
    z-index: 1;
}
.corecover .coreparagraph{
    padding-left: 10%;
    padding-right: 10%;
}

