.wp-block-table table{
  width:100%
}
.wp-block-table td{
  padding:10px;
  border-top:1px solid #00000066;
}

.wp-block-table.is-style-regular tr,
.wp-block-table.is-style-regular td{
  border-width: 1px;
  border-style: solid;
}