/* Main grid properties */
.block-content-section {
  display: grid;
  grid-template-rows:auto;
  grid-template-areas:
    ". content-title content-title ."
    ". content-excerpt content-content .";
}
.block-content-section .title {
  grid-area: content-title;
}
.block-content-section .entry-excerpt {
  grid-area: content-excerpt;
}
.block-content-section .content {
  grid-area: content-content;
}

/* Proportions */
.block-content-section{
  grid-template-columns:  auto 40% 40% auto;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1440px) {
  .block-content-section{
    grid-template-columns:  1fr 40% 40% 1fr;
  }
}