.smooth-enter-active {
  animation: smooth-out 200ms ease-out alternate-reverse;
  transform-origin: top center;
}

.smooth-leave-active {
  animation: smooth-out 150ms ease-in;
  transform-origin: top center;
}
@keyframes smooth-in {
  0% { transform: scale(0.99); opacity: 0.4; }
  100% { transform: initial; opacity: 1; }
}
@keyframes smooth-out {
  0% { transform: initial; opcaity: 1 }
  100% { transform: scale(1.01); opacity: 0.4; }
}