html { 
  scroll-behavior: smooth;
}

/* _______________________ */
/* Top bar [logo and menu] */

#top-bar{
  height: 170em;
  padding: 40em 0;
  background-color: #E93558;
}
#top-bar .main-logo img{
  width: 90em;
}
#top-bar .main-menu{
  font-size: 22em;
  display: flex;
  justify-content: flex-end;
}
#top-bar .main-menu li{
  margin-left: 3em;
}
#top-bar .main-menu li a{
  color:#FFFFFF;
}

/* ____________ */
/* Hero section */

.block-hero-section {
  padding: 80em 0;
  overflow: hidden;
  /* height:calc(100vh - 160em); */
}
.block-hero-section .title{
  font-size: 110em;
  font-family: 'Montserrat';
  font-weight: 800;
  position: relative;
  margin-bottom:1.1em;
}
.block-hero-section .title:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 3px;
  bottom: -0.4em;
  left: 0;
  background-color: #ccc;
}
.block-hero-section .list{
  margin-top:30em;
}
.block-hero-section .list li{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  cursor:pointer;
  font-size: 20em;
  transition: all .2s;
  transform-origin: 0 center;
}
.block-hero-section .list li:first-of-type{
  margin-top:0em;
}
.block-hero-section .list .active{
  margin: 3.2em 0;
  opacity: 1;
  transform: scale(2);
  width:50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.block-hero-section .list .inactive{
  /*  */
  display: block;
  opacity: .2;
  margin: 3.2em 0;
}
.block-hero-section .list .active .number{
  position:absolute;  
}
.block-hero-section .list .active .text{
  margin-left:2em;
}
.block-hero-section .list li span:first-of-type{
  margin-right: 30px;
}
.block-hero-section .images .slider{
  width: 170%;
  margin-left: -32%;
  margin-right: -40%;
  margin-top: -48em;
  margin-bottom: -150em;
}

.block-hero-section .call{
  font-size: 35em;
  margin: 1em 0  2em;
}

/* __________________ */
/* Advantages section */

.block-advantages-section{
  padding: 50em 0;
  background-color: #fff;
  color: #30333C;
}
.block-advantages-section .title{
  font-size:75em;
  font-family: 'Montserrat';
  font-weight: 800;
  margin:1em 0;
}
.block-advantages-section .list{
  font-size:30em;
  color: #E93558;
  display:flex;
  flex-direction:column;
}
.block-advantages-section .list li{
  padding: 0.75em 1.1em;
  margin-left: -1.1em;
  align-self: baseline;
  border: 1px solid #ffffffff;
  cursor: pointer;
  margin-bottom:0.1em;
}
.block-advantages-section .list .active{
  color: #E93558;
  border:1px solid #E93558;
  border-radius: 37em;
}
.block-advantages-section .list .inactive{
  border:1px solid #ffffffff;
}
.block-advantages-section .content{
  justify-self: center;
  max-width: 21rem;
  font-size:22em;
  line-height: 1.8em;
  color:#30333C;
}
.block-advantages-section .content img{
  margin-top:4em;
  margin-bottom:-4em;
}
.block-advantages-section .content .inactive{
  display: none;
}

/* __________________ */
/* Properties section */

.block-properties-section{
  padding: 120em 0;
}
.block-properties-section .back{
  font-size:75em;
  font-family: 'Montserrat';
  font-weight: 800;
  margin:1em 0 1.3em;
}
.block-properties-section .title{
  font-size:75em;
  font-family: 'Montserrat';
  font-weight: 800;
  margin:1em 0 1.3em;
}
.block-properties-section .list{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  display: grid;
  grid-auto-flow: column;
  font-size: 22em;
  justify-content: space-between;
  grid-template-columns: min-content;
}
.block-properties-section .list li{
  display:flex;
  flex-direction: column;
}
.block-properties-section .list img{
  display: block;
  margin: 0 auto 0.5em auto;
  height:6.5em;
}
.block-properties-section .list .title{
  margin:1em 0em;
  font-weight: 600;
  font-size:1.5em;
  text-align: center;
  height:2em;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}
.block-properties-section .list .content{
  margin:1em 0em;
  font-weight: 400;
  text-align: center;
  line-height: 2em;
}

/* _____________ */
/* About section */
.block-about-section{
  padding: 120em 0;
  background: linear-gradient(0deg, rgba(255,255,255,0) calc(100% - 600em), #51aeae 0%)
}
.block-about-section .back{
  font-size: 46em;
  font-family: 'Montserrat';
  font-weight: 800;
}
.block-about-section .title{
  font-size: 136em;
  font-family: 'Montserrat';
  font-weight: 800;
  margin: 0.7em 0 1.3em;
}
.block-about-section .image{
  font-size: 20em; 
}
.block-about-section .image img{
  width: 100%;
}
.block-about-section .subtitle{
  font-size: 100em;
  font-family: 'Montserrat';
  font-weight: 800;
  margin: 0.6em 0 0.3em;
}
.block-about-section .excerpt{
  font-size: 50em;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  line-height: 1.5em;
  margin: 0.3em 0 0.5em;

  
}
.block-about-section .content{
  font-size: 40em;
  margin: 0.4em 0 0.4em;
  line-height: 1.45em;
}

@media only screen and (max-width : 768px) {
  .block-hero-section {
    padding: 80em 40em;
  }

  .block-advantages-section {
    padding: 50em 40em;
  }

  .block-properties-section {
    padding: 120em 40em;
  }
}

#whatweare{
  padding: 100em 0;
  background-color: #E93558;
  color: #fff;
}
#whatweare .title{
  font-size: 75em;
  font-family: 'Montserrat';
  font-weight: 800;
}
#whatweare .list{
  font-size: 22em;
  justify-self: center;
  max-width: 30rem;
}
#whatweare .image{
  font-size: 22em;
}

.custom-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

.custom-button {
  padding: 10px;
  border-radius: 4px;
  background: cornflowerblue;
  border: 1px solid cornflowerblue;
  color: white;
  cursor: pointer;
  transition: box-shadow 180ms;
}

.custom-button:hover {
  box-shadow: 0 5px 10px -4px cornflowerblue;
}

.custom-button:disabled {
  opacity: 0.6;
}

.custom-button_red {
  background: #e43f2e;
  border: 1px solid #e43f2e;
}

.custom-button_red:hover {
  box-shadow: 0 5px 10px -4px #e43f2e;
}

.custom-button:disabled:hover {
  box-shadow: none;
}
