#top-bar{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: ". main-logo main-menu .";
}
#top-bar .main-logo {
  grid-area: main-logo;
}
#top-bar .main-menu {
  grid-area: main-menu;
}

/* Main slider */
.block-hero-section {
  display: grid;
  grid-template-rows:auto auto 1fr auto;
  grid-template-areas:
    ". main-slider-title main-slider-images ."
    ". main-slider-list main-slider-images ."
    ". main-slider-call main-slider-images ."
    ". main-slider-footer main-slider-footer.";
}
.block-hero-section  .title {
  grid-area: main-slider-title;
}
.block-hero-section  .list {
  grid-area: main-slider-list;
}
.block-hero-section  .images {
  grid-area: main-slider-images;
  align-self: center;
}
.block-hero-section  .call {
  grid-area: main-slider-call;
}
.block-hero-section  .first-footer {
  grid-area: main-slider-footer;
  justify-self: center;
}

/* Advantages */
.block-advantages-section{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    ". advantages-title . ."
    ". advantages-list advantages-content ."
    ". advantages-list advantages-images ."
}
.block-advantages-section .title {
  grid-area: advantages-title;
}
.block-advantages-section .list {
  grid-area: advantages-list;
}
.block-advantages-section .content {
  grid-area: advantages-content;
}
.block-advantages-section .images {
  grid-area: advantages-images;
}
.block-advantages-section  .first-footer {
  grid-area: advantages-footer;
  justify-self: center;
}

/* Properties */
.block-properties-section{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    ". properties-title ."
    ". properties-list .";
}
.block-properties-section .title {
  grid-area: properties-title;
  justify-self: center;
}
.block-properties-section .list {
  grid-area: properties-list;
}

/* About */
.block-about-section {
  display: grid;
  grid-template-rows:auto;
  grid-template-areas:
    "about-image about-image about-back ."
    "about-image about-image about-title about-title"
    ". about-subtitle about-subtitle ."
    ". about-excerpt about-excerpt ."
    ". about-content about-content .";
}
.block-about-section .back {
  grid-area: about-back;
}
.block-about-section .image {
  grid-area: about-image;
}
.block-about-section .title {
  grid-area: about-title;
}
.block-about-section .subtitle {
  grid-area: about-subtitle;
}
.block-about-section .excerpt {
  grid-area: about-excerpt;
}
.block-about-section .content {
  grid-area: about-content;
}


/* Proportions */
#top-bar{
  grid-template-columns: auto 10% 80% auto;
}
.block-hero-section {
  grid-template-columns: auto 40% 50% auto;
}
.block-advantages-section{
  grid-template-columns: auto 33.5% 33.5% auto;
}
.block-properties-section{
  grid-template-columns:  auto 67% auto;
}
.block-about-section{
  grid-template-columns:  1fr 34.5% 22.5% 1fr;
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
  #page{
    font-size: 0.035rem;
  }
  #top-bar{
    grid-template-areas: "main-logo main-menu";
    grid-template-columns:100px auto;
    padding: 40em;
  }
  .block-hero-section {
    grid-template-areas:
    "main-slider-title main-slider-title"
    "main-slider-list main-slider-images"
    "main-slider-call main-slider-call";
    grid-template-columns:60% 40%;
  }
  .block-advantages-section{
    grid-template-areas:
    "advantages-title"
    "advantages-content"
    "advantages-images"
    "advantages-list";
    grid-template-columns: auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #page{
    font-size: 0.025rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {
  #page{
    font-size: 0.035rem;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1440px) {
  #page{
    font-size: 0.05rem;
  }
}