/**
  @atom .wp-block-button a, button.wp-block-button
*/
.wp-block-button{
  box-sizing: border-box;
  outline: none;
  border-width: 2px;
}

.wp-block-button a{
  display:inline-block;
  padding: 20px 60px;
  text-decoration: none;
  cursor:pointer;
}
/**
  @atom .button.wp-block-button, .wp-block-button a 
  @modifiers .is-style-outline
*/
.wp-block-button.is-style-outline > a{
  border-width: 2px;
  border-style: solid;
}


