.sojuzgraphquery,
.sojuzgraphquery.align-default,
.align-default {
  width:100%;
  max-width: 736px;
  margin: 0 auto;
}
.coreparagraph,
.coreheading,
.corequote,
.sojuzgraphquery.align-wide,
.align-wide {
  width:100%;
  max-width: 1160px;
  margin: 0 auto;
}
.sojuzgraphquery.align-full,
.align-full {
  width:100%;
  max-width: 100%;
  margin: 0 auto;
}

.wp-block-button.align-full a, .wp-block-button.align-default button{
  text-align: center;
}

.modal-content{
  min-width: 736px;
}
.modal-content > .sojuzacfform{
    padding: 5px;
}

.pagination{
  flex:1
}