/**
  @atom .has-text-align-right
*/
.has-text-align-right {
  text-align: right;
}

/**
  @atom .has-text-align-center 
*/
.has-text-align-center {
  text-align: center;
}

/**
  @atom .align-full
*/
.align-full, .align-full > a{
   width: 100%;
}

/**
  @atom .f-justify
*/
.block .f-justify{
  justify-content: flex-end;
}
/**
  @atom .f-right
*/
.block .f-right{
  justify-content: flex-end;
}

/**
  @atom .pos-absolute
*/
.block .pos-absolute{
  position: absolute;
  width: 100%;
}
  
p > img{
  vertical-align: middle;
}

/**
  @atom Icon??? 
*/
.icon {
  display: grid;
  align-items: center;
  justify-content: center;
}
/**
  @atom img
*/
img {
  width:100%;
}

.buttons{
  display:flex;
}
.buttons > *{
  flex:1;
  
}

