/* _______________________ */
/* Top bar [logo and menu] */

#top-bar {
  height: 4vw;
  z-index:100;
  position:sticky;
  top:0px;
  padding: 0;
  background-color: #fff;
  border-bottom:1px solid #ccc;
  display:flex;
  justify-content: space-between;
}
#top-bar .main-logo{
  background-color:#000;
  line-height: inherit;
  height:100%;
}
#top-bar .main-logo img{
  height:100%;
}
.main-menu a, .dorp-down-item{
  color:#333;
  text-decoration: none;
  white-space: nowrap;
}

.main-menu ul, .main-menu li{
  padding:0;
  margin:0;
}
.main-menu .sub-menu > ul{
  display: none;
}
.main-menu .sub-menu.active > ul{
  display: block;
  background-color: #fff;
}

.dorp-down-item{
  cursor:pointer;
}
.dorp-down-item svg{
  transform: rotate(90deg);
}
.sub-menu.active .dorp-down-item svg{
  transform: rotate(270deg);
}
.main-menu a.nuxt-link-active{
  text-decoration: underline;
}

.dark{
  background-color: #000;
}
.dark a{
  color:#fff;
}
/* DESKTOP ^&*/
@media only screen and (min-width : 768px) {

  .main-menu{
    display: flex;
    align-items: center;
  }
  .main-menu > ul > li > a, span.dorp-down-item{
    padding: 2vw 0em;
    line-height: 4vw;
  }
  .sub-menu a{
    padding: 1.4vw 2vw .4vw;
    line-height: .5vw;
  }
  .main-menu .sub-menu ul li.spaced{
    margin-top: .9vw;
    border-top: 1px solid #ccc;
  }
  .main-menu .sub-menu ul li.spaced:last-of-type{
    padding-bottom:.9vw;
  }
  .main-menu .sub-menu ul li.spaced:first-of-type{
    border-top: indianred;
  }
  .main-menu > ul{
    display: flex;
    justify-content: flex-end;
    background: none !important;
    transform: translateX( 0 );
    align-items: center;
    height:100%;
  }
  .main-menu > ul > li{
    margin-right: 1em;
    height:100%;
  }
  .main-menu .sub-menu ul{
    position: absolute;
    top:4vw;
    right:0;
    padding: 0;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
  }
  .main-menu .sub-menu ul li a{
    display: block;
  }

  .main-menu > ul > li.action{
    height: 100%;
    border-left: 1px solid #ccc;
    width: 4vw;
    margin-right:0;
    cursor:pointer;
  }
  li.action,
  li.action .sub-menu{
    display:flex;
    height: 100%;
    width:100%;
     align-items: center;
    justify-content: center;
  }
  .action svg{
    pointer-events: none;
  }
    
  .mobile{
    display: none;
  }
}
@media only screen and (max-width : 768px) {
  #top-bar{
    /* -webkit-backface-visibility: hidden;
    position:fixed; */
  }
  .main-menu{
    position: absolute;
    top: 60px;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.53em;
    background: #fff;
  }
  .main-menu > ul{
    width: 100%;
    height: 100vh;
    padding: 5.35vw;
    line-height: 2.64em;
    /* transform: translateX( 100% );
    transition: transform .15s cubic-bezier(1, 0, 0, 1);
    opacity: 0; */
    display:none;
  }
  .main-menu.open-mobile > ul{
    /* transform: translateX( 0 );
    opacity: 1; */
    display:block;
  }
  .main-menu .sub-menu ul{
    margin-left: 0.6em;
  }
  .mobile{
    position: absolute;
    right: 4vw;
    top: -60px;
    cursor: pointer;
    padding: 1rem 0;
  }
  .main-menu.open-mobile .show{
    display: none
  }
  .main-menu.open-mobile .hide{
    display: block
  }
  .main-menu .hide{
    display: none
  }
}